@charset "utf-8";

#wrapper {
	margin: auto;
	float: none;
	height: 768px;
	width: 1024px;
}
#banner {
	margin: auto;
	float: left;
	height: 150px;
	width: 1024px;
}
#left_column a:link {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-variant: small-caps;
	color: #006;
	text-decoration: none;
	font-size: small;
}
#navbar {
	margin: auto;
	float: left;
	height: 50px;
	width: 1024px;
}
#left_column a:hover {
	font-weight: lighter;
	color: #F00;
}
#left_column {
	margin: auto;
	float: left;
	height: 500px;
	width: 700px;
	background-color: #D1D3D7;
}

#right_column {
	margin: auto;
	float: right;
	height: 500px;
	width: 324px;
	background-image: url(../images/rightcolumn_bkg_texture.jpg);
}

#footer {
	margin: auto;
	float: left;
	height: 68px;
	width: 1024px;
}
body {
	background-color: #999;
}
.home_page_headline {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bolder;
	color: #746457;
	padding-left: 33px;
	line-height: 15px;
}
.fictionbook_headline {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: #EF581F;
	font-weight: bold;
}

.imageposition {
	padding-left: 250px;
}
.bodycopy {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #666;
	padding-left: 33px;
	padding-right: 33px;
	line-height: 20px;
}
