@charset "utf-8";


#wrapper {
	margin: auto;
	float: none;
	height: 768px;
	width: 1024px;
}
#banner {
	float: left;
	height: 150px;
	width: 1024px;
	margin: auto;
}
#navbar {
	margin: auto;
	float: left;
	height: 50px;
	width: 1024px;
}
#left_column {
	margin: auto;
	float: left;
	height: 500px;
	width: 700px;
	overflow-y: scroll;
	background-image: url(url);
	background-color: #FFE8C7;
}
#right_column {
	margin: auto;
	float: right;
	height: 500px;
	width: 324px;
	background-color: #016082;
	background-image: -webkit-linear-gradient(270deg,rgba(131,126,126,0.30) 0%,rgba(130,128,134,0.85) 43.52%,rgba(97,93,103,0.33) 100%), url(../images/rightcolumn_bkg_texture.jpg);
	background-image: linear-gradient(180deg,rgba(131,126,126,0.30) 0%,rgba(130,128,134,0.85) 43.52%,rgba(97,93,103,0.33) 100%), url(../images/rightcolumn_bkg_texture.jpg);
}
#footer {
	margin: auto;
	float: left;
	height: 68px;
	width: 1024px;
}

.headline {
	color: #746457;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bolder;
	font-size: x-large;
	text-align: center;
	line-height: 10px;
	letter-spacing: 2px;
}
.bodycopy_homepage {
	color: #746457;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: small;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 20px;
	text-shadow: 0px 0px;
}
#left_column .bodycopy_homepage img {
}
.imageposition {
	padding-left: 225px;
	position: relative;
}
a:link {
	color: #03346E;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-variant: small-caps;
	border-width: 0px;
	border-style: none;
}
a:hover {
	color: #F9090D;
	font-size: x-large;
}
.headline_fictionpage {
	text-align: center;
	color: #FF9900;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bolder;
	font-size: large;
}
.newarrivals_text_fictionpage {
	color: #039B0A;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: lighter;
	font-size: xx-large;
	text-align: right;
}
.price_text_formatting_fictionpage {
	color: #EF3704;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: large;
	line-height: 0px;
}
