#banner {
	margin: auto;
	float: left;
	height: 150px;
	width: 1024px;
}
.bodycopy {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: lighter;
	color: #FF0;
	padding-right: 50px;
	padding-left: 50px;
}
#rightcolumn {
	margin: auto;
	float: right;
	height: 500px;
	width: 324px;
	background-image: url(../images/unit4images/rightcolumn_bkg_texture.jpg);
}
#wrapper {
	margin: auto;
	float: none;
	height: 768px;
	width: 1024px;
}
#navbar {
	margin: auto;
	float: left;
	height: 50px;
	width: 1024px;
}
#leftcolumn {
	margin: auto;
	float: left;
	height: 500px;
	width: 700px;
	background-color: #0C3;
	background-image: url(../images/unit4images/leftcolumn_bkg_texture.jpg);
}
.fictionpagetitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: xx-large;
	color: #360;
	font-weight: bold;
	font-variant: normal;
}
.booktitletype {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	color: #903;
}


.headline {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bolder;
	font-variant: small-caps;
	color: #746457;
	text-align: left;
	padding-left: 50px;
}
body {
	background-color: #999;
}
a:link {
	font-size: large;
	font-style: oblique;
	font-weight: bolder;
	color: #006;
}
a:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bolder;
	color: #900;
}
#footer {
	margin: auto;
	float: left;
	height: 68px;
	width: 1024px;
}
